.ng-invalid.ng-touched {
    border: 2px solid red;
  }
  
  .ng-valid.ng-touched {
    border: 2px solid green;
  }
  
  div {
    color: red;
    font-size: 14px;
  }
  
  button {
    margin-top: 10px;
  }